@import "tailwindcss";

@layer utilities{
  .button1{
    @apply h-10 w-20 bg-white border-2 border-stone-600 font-bold font-mono rounded-sm;
  }
  .button2{
    @apply h-10 w-85 italic text-center bg-gray-300 border-2 border-stone-600 font-bold font-mono rounded-sm;
  }
  .header1{
    @apply font-mono text-xl font-bold;
  }
  .header2{
    @apply font-mono text-base font-bold;
  }
  .form1{
    @apply font-mono bg-stone-200 border-2 border-stone-600 rounded-md w-3/7 text-center;
  }
  .form2{
    @apply font-mono bg-stone-200 border-2 border-stone-600 rounded-md w-1/10 text-center;
  }
  .form3{
    @apply font-mono bg-stone-200 border-2 border-stone-600 w-1/5 text-center;
  }
}
